<a href="https://colab.research.google.com/github/WelfLowe/ML4Med/blob/main/Hello_World.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## First Colab Notebook

In [3]:
import pandas as pd

In [4]:
print("Hello World!")

Hello World!

In [7]:
data_url = "https://raw.githubusercontent.com/WelfLowe/ML4Med/main/heights_weights.csv"
df = pd.read_csv(data_url)

print("Here the data we work with:")
df.head()

Here the data we work with:

      Height      Weight  Gender
0  73.847017  241.893563       1
1  68.781904  162.310473       1
2  74.110105  212.740856       1
3  71.730978  220.042470       1
4  69.881796  206.349801       1